body {
    font-family: sans-serif;
}

table {
    border: 1px solid black;
}

thead tr th,
tbody tr th {
    background-color: black;
    color: white;
    font-weight: bold;
}

td,
th {
    text-align: center;
    padding: 10px;
}

td {
    border: 1px solid black;
}