body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}


#slide-in {
    text-align: center;
    color: #fff;
    position: relative;
    animation: slide-in 2s ease-out infinite;
  }

@keyframes slide-in {
    0% {
      opacity: 0;
      left: -700px;
    }

    100% {
      opacity: 1;
      left: 0;
    }
  }